.form{ 
  width: 300px;
  margin: 20px;
}
.fieldset1{
  border-radius: 5px 5px 0px 0px;
  border-color: black;
  border-width: 2px;
  border-bottom: none;
}
.fieldset2{
  border-radius: 0px 0px 5px 5px ;
  border-color: black;
  border-width: 2px;
  border-top: none;
}
.zagolovok{
  font-weight: bold;
}
.label{
  display: block;
}
.input{
  border-radius: 5px;
}
.textarea{
  resize: vertical;
  max-height: 200px;
}
.button {
  cursor: pointer;
  border: none;
  margin: 5px;
}
